.git/
.gitignore
.idea/
*.iml
.DS_Store
*.swp

build/
out/
bin/
*.log
logs/

**/README.md
**/LICENSE

**/test-data/
**/tmp/

.gradle/
gradle/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

target/
.m2/